.post {
  width: calc(100% - 300px);
}

.post .content {
  display: flex;
}
.post .right,
.post .left {
  width: calc(50% - 40px);
  padding: 0 20px;
}

.gallery {
  height: 300px;
  --swiper-theme-color: #005edc;
}

.gallery .swiper-container,
.gallery .swiper-wrapper,
.gallery .swiper-slide {
  height: 100%;
}

.gallery .swiper-slide {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #9e9e9e;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.gallery .swiper-button-disabled {
  color: #9e9e9e;
}

.right .map {
  width: 100%;
  height: 300px;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .data div {
  font-size: 16px;
  line-height: 16px;
  height: 50px;
  display: flex;
  align-items: center;
}

.post .data span {
  color: #9e9e9e;
  margin-right: 5px;
  user-select: none;
}

.post .data .divider {
  height: 1px;
  background-color: #d0d0d0;
  width: 100%;
}

.post .annotation {
  display: flex;
}
.post .annotation .list,
.post .annotation .new-annotation {
  width: calc(50% - 40px);
  padding: 0 20px;
}

.post .login {
  display: flex;
  flex-direction: column;
}
.post .login a {
  background-color: transparent;
  color: #005edc;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-align: left;
  border-radius: 5px;
}
