.annotation-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: black;
  min-height: 32px;
  padding: 10px 0;
}

.annotation-item div:first-child {
  line-height: 32px;
  border-right: 1px #d0d0d0 solid;
  padding-right: 20px;
  width: 65px;
}

.annotation-item div:last-child {
  line-height: 32px;
  padding-left: 20px;
  width: 400px;
}
