.post-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  display: flex;
  text-decoration: none;
  color: black;
  background-color: white;
}

.post-container:not(:last-child) {
  margin-bottom: 50px;
}

.post-container .image {
  width: 100px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.post-container .no-image {
  width: 100px;
  height: 75px;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.post-container .content {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  justify-content: center;
  width: calc(100% - 200px);
}

.post-container .content .extra-info {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 15px;
  line-height: 15px;
}
.post-container .content .extra-info .date {
  width: 75px;
}

.post-container .content .extra-info .bedrooms,
.post-container .content .extra-info .area {
  margin-right: 5px;
}

.post-container .content .title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-container .price {
  width: 100px;
  height: 75px;
  text-align: center;
  line-height: 75px;
}
